In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("DataFiles/data.xlsx")
df.head()

        Date   Country Product  Sales     Category Region
0 2023-01-01       DRC       A  446.0         Food  North
1 2023-01-02  Tanzania       C   56.0  Electronics  South
2 2023-01-03    Uganda       C   65.0     Clothing  South
3 2023-01-04     Kenya       B  364.0     Clothing   West
4 2023-01-05     Kenya       C  260.0  Electronics   West

In [9]:
new_df = df.set_index(["Country"])
new_df.head()

               Date Product  Sales     Category Region
Country
DRC      2023-01-01       A  446.0         Food  North
Tanzania 2023-01-02       C   56.0  Electronics  South
Uganda   2023-01-03       C   65.0     Clothing  South
Kenya    2023-01-04       B  364.0     Clothing   West
Kenya    2023-01-05       C  260.0  Electronics   West

In [61]:
# MultiIndexing
multi_indexed_df = df.set_index(["Country","Product"])
multi_indexed_df.head()

                       Date  Sales     Category Region
Country  Product
DRC      A       2023-01-01  446.0         Food  North
Tanzania C       2023-01-02   56.0  Electronics  South
Uganda   C       2023-01-03   65.0     Clothing  South
Kenya    B       2023-01-04  364.0     Clothing   West
         C       2023-01-05  260.0  Electronics   West

### Flattening using Map With Lambda

In [63]:
#Merge country and product 

merge_index1 = multi_indexed_df.index.map(lambda x: f'{x[0]}_{x[1]}')
merge_index1

Index(['DRC_A', 'Tanzania_C', 'Uganda_C', 'Kenya_B', 'Kenya_C', 'DRC_A',
       'Kenya_C', 'Kenya_C', 'Kenya_A', 'Uganda_C', 'DRC_A', 'Kenya_B',
       'Tanzania_A', 'DRC_C', 'Kenya_A', 'Kenya_A', 'Kenya_C', 'Uganda_A',
       'Uganda_B', 'Kenya_B', 'Tanzania_B', 'Tanzania_C', 'Tanzania_B',
       'Kenya_A', 'Kenya_C', 'Uganda_C', 'DRC_C', 'Tanzania_C', 'Uganda_A',
       'Tanzania_B', 'Tanzania_B', 'Tanzania_C', 'DRC_C', 'DRC_B', 'Kenya_A',
       'DRC_B', 'Kenya_C', 'Kenya_C', 'DRC_A', 'Kenya_C', 'Tanzania_B',
       'Tanzania_B', 'Tanzania_B', 'Tanzania_B', 'DRC_A', 'Kenya_B', 'Kenya_A',
       'Tanzania_A', 'DRC_A', 'Tanzania_A'],
      dtype='object')

In [51]:
multi_indexed_df.index

MultiIndex([(     'DRC', 'A'),
            ('Tanzania', 'C'),
            (  'Uganda', 'C'),
            (   'Kenya', 'B'),
            (   'Kenya', 'C'),
            (     'DRC', 'A'),
            (   'Kenya', 'C'),
            (   'Kenya', 'C'),
            (   'Kenya', 'A'),
            (  'Uganda', 'C'),
            (     'DRC', 'A'),
            (   'Kenya', 'B'),
            ('Tanzania', 'A'),
            (     'DRC', 'C'),
            (   'Kenya', 'A'),
            (   'Kenya', 'A'),
            (   'Kenya', 'C'),
            (  'Uganda', 'A'),
            (  'Uganda', 'B'),
            (   'Kenya', 'B'),
            ('Tanzania', 'B'),
            ('Tanzania', 'C'),
            ('Tanzania', 'B'),
            (   'Kenya', 'A'),
            (   'Kenya', 'C'),
            (  'Uganda', 'C'),
            (     'DRC', 'C'),
            ('Tanzania', 'C'),
            (  'Uganda', 'A'),
            ('Tanzania', 'B'),
            ('Tanzania', 'B'),
            ('Tanzania', 'C'),
            (     'DRC', 'C'),
            (     'DRC', 'B'),
            (   'Kenya', 'A'),
            (     'DRC', 'B'),
            (   'Kenya', 'C'),
            (   'Kenya', 'C'),
            (     'DRC', 'A'),
            (   'Kenya', 'C'),
            ('Tanzania', 'B'),
            ('Tanzania', 'B'),
            ('Tanzania', 'B'),
            ('Tanzania', 'B'),
            (     'DRC', 'A'),
            (   'Kenya', 'B'),
            (   'Kenya', 'A'),
            ('Tanzania', 'A'),
            (     'DRC', 'A'),
            ('Tanzania', 'A')],
           names=['Country', 'Product'])

In [33]:
# merge_index = multi_indexed_df.index.map(lambda x: x[0]+x[1])
# merge_index

Index(['DRCA', 'TanzaniaC', 'UgandaC', 'KenyaB', 'KenyaC', 'DRCA', 'KenyaC',
       'KenyaC', 'KenyaA', 'UgandaC', 'DRCA', 'KenyaB', 'TanzaniaA', 'DRCC',
       'KenyaA', 'KenyaA', 'KenyaC', 'UgandaA', 'UgandaB', 'KenyaB',
       'TanzaniaB', 'TanzaniaC', 'TanzaniaB', 'KenyaA', 'KenyaC', 'UgandaC',
       'DRCC', 'TanzaniaC', 'UgandaA', 'TanzaniaB', 'TanzaniaB', 'TanzaniaC',
       'DRCC', 'DRCB', 'KenyaA', 'DRCB', 'KenyaC', 'KenyaC', 'DRCA', 'KenyaC',
       'TanzaniaB', 'TanzaniaB', 'TanzaniaB', 'TanzaniaB', 'DRCA', 'KenyaB',
       'KenyaA', 'TanzaniaA', 'DRCA', 'TanzaniaA'],
      dtype='object')

In [65]:
multi_indexed_df.index = merge_index1

In [67]:
multi_indexed_df

                 Date  Sales     Category Region
DRC_A      2023-01-01  446.0         Food  North
Tanzania_C 2023-01-02   56.0  Electronics  South
Uganda_C   2023-01-03   65.0     Clothing  South
Kenya_B    2023-01-04  364.0     Clothing   West
Kenya_C    2023-01-05  260.0  Electronics   West
DRC_A      2023-01-06    NaN  Electronics  South
Kenya_C    2023-01-07    NaN  Electronics   West
Kenya_C    2023-01-08    NaN         Food   East
Kenya_A    2023-01-09    NaN  Electronics  North
Uganda_C   2023-01-10    NaN  Electronics  South
DRC_A      2023-01-11    NaN     Clothing   West
Kenya_B    2023-01-12  377.0         Food  North
Tanzania_A 2023-01-13   52.0         Food  South
DRC_C      2023-01-14  371.0         Food   East
Kenya_A    2023-01-15  356.0     Clothing   West
Kenya_A    2023-01-16  183.0         Food   West
Kenya_C    2023-01-17  474.0  Electronics   East
Uganda_A   2023-01-18  477.0  Electronics  South
Uganda_B   2023-01-19  133.0  Electronics   West
Kenya_B    2023-01-20  400.0         Food   West
Tanzania_B 2023-01-21  389.0  Electronics  North
Tanzania_C 2023-01-22  486.0  Electronics  North
Tanzania_B 2023-01-23  472.0  Electronics  South
Kenya_A    2023-01-24  315.0  Electronics   East
Kenya_C    2023-01-25  313.0     Clothing   East
Uganda_C   2023-01-26  444.0  Electronics   West
DRC_C      2023-01-27   65.0  Electronics   West
Tanzania_C 2023-01-28  310.0     Clothing  North
Uganda_A   2023-01-29  193.0         Food   East
Tanzania_B 2023-01-30  143.0         Food  South
Tanzania_B 2023-01-31  271.0  Electronics  South
Tanzania_C 2023-02-01  353.0  Electronics  South
DRC_C      2023-02-02  488.0         Food  North
DRC_B      2023-02-03  135.0     Clothing  South
Kenya_A    2023-02-04  193.0  Electronics   West
DRC_B      2023-02-05  418.0     Clothing   East
Kenya_C    2023-02-06  134.0         Food  South
Kenya_C    2023-02-07  143.0     Clothing  South
DRC_A      2023-02-08  233.0     Clothing  North
Kenya_C    2023-02-09  238.0  Electronics  South
Tanzania_B 2023-02-10  430.0     Clothing   West
Tanzania_B 2023-02-11  214.0     Clothing  North
Tanzania_B 2023-02-12  257.0         Food   East
Tanzania_B 2023-02-13  302.0         Food  North
DRC_A      2023-02-14  124.0  Electronics  North
Kenya_B    2023-02-15  163.0         Food   East
Kenya_A    2023-02-16   70.0  Electronics   East
Tanzania_A 2023-02-17  312.0  Electronics   East
DRC_A      2023-02-18   65.0  Electronics  South
Tanzania_A 2023-02-19   97.0  Electronics  North

### Flattening using to_flat_index function

In [ ]:
multi_indexed_df = df.set_index(["Country","Product"])
multi_indexed_df.head()

In [70]:
multi_indexed_df.index =multi_indexed_df.index.to_flat_index()
multi_indexed_df

                 Date  Sales     Category Region
DRC_A      2023-01-01  446.0         Food  North
Tanzania_C 2023-01-02   56.0  Electronics  South
Uganda_C   2023-01-03   65.0     Clothing  South
Kenya_B    2023-01-04  364.0     Clothing   West
Kenya_C    2023-01-05  260.0  Electronics   West
DRC_A      2023-01-06    NaN  Electronics  South
Kenya_C    2023-01-07    NaN  Electronics   West
Kenya_C    2023-01-08    NaN         Food   East
Kenya_A    2023-01-09    NaN  Electronics  North
Uganda_C   2023-01-10    NaN  Electronics  South
DRC_A      2023-01-11    NaN     Clothing   West
Kenya_B    2023-01-12  377.0         Food  North
Tanzania_A 2023-01-13   52.0         Food  South
DRC_C      2023-01-14  371.0         Food   East
Kenya_A    2023-01-15  356.0     Clothing   West
Kenya_A    2023-01-16  183.0         Food   West
Kenya_C    2023-01-17  474.0  Electronics   East
Uganda_A   2023-01-18  477.0  Electronics  South
Uganda_B   2023-01-19  133.0  Electronics   West
Kenya_B    2023-01-20  400.0         Food   West
Tanzania_B 2023-01-21  389.0  Electronics  North
Tanzania_C 2023-01-22  486.0  Electronics  North
Tanzania_B 2023-01-23  472.0  Electronics  South
Kenya_A    2023-01-24  315.0  Electronics   East
Kenya_C    2023-01-25  313.0     Clothing   East
Uganda_C   2023-01-26  444.0  Electronics   West
DRC_C      2023-01-27   65.0  Electronics   West
Tanzania_C 2023-01-28  310.0     Clothing  North
Uganda_A   2023-01-29  193.0         Food   East
Tanzania_B 2023-01-30  143.0         Food  South
Tanzania_B 2023-01-31  271.0  Electronics  South
Tanzania_C 2023-02-01  353.0  Electronics  South
DRC_C      2023-02-02  488.0         Food  North
DRC_B      2023-02-03  135.0     Clothing  South
Kenya_A    2023-02-04  193.0  Electronics   West
DRC_B      2023-02-05  418.0     Clothing   East
Kenya_C    2023-02-06  134.0         Food  South
Kenya_C    2023-02-07  143.0     Clothing  South
DRC_A      2023-02-08  233.0     Clothing  North
Kenya_C    2023-02-09  238.0  Electronics  South
Tanzania_B 2023-02-10  430.0     Clothing   West
Tanzania_B 2023-02-11  214.0     Clothing  North
Tanzania_B 2023-02-12  257.0         Food   East
Tanzania_B 2023-02-13  302.0         Food  North
DRC_A      2023-02-14  124.0  Electronics  North
Kenya_B    2023-02-15  163.0         Food   East
Kenya_A    2023-02-16   70.0  Electronics   East
Tanzania_A 2023-02-17  312.0  Electronics   East
DRC_A      2023-02-18   65.0  Electronics  South
Tanzania_A 2023-02-19   97.0  Electronics  North

In [77]:
country_sales_sum = new_df.groupby(level = "Country")["Sales"].sum()
country_sales_sum

Country
DRC         2345.0
Kenya       3983.0
Tanzania    4144.0
Uganda      1312.0
Name: Sales, dtype: float64

In [81]:
new_df = df.set_index(["Country","Product"])

In [83]:
new_df.sort_index(level ="Country")

                       Date  Sales     Category Region
Country  Product
DRC      A       2023-01-01  446.0         Food  North
         A       2023-01-06    NaN  Electronics  South
         A       2023-01-11    NaN     Clothing   West
         A       2023-02-08  233.0     Clothing  North
         A       2023-02-14  124.0  Electronics  North
         A       2023-02-18   65.0  Electronics  South
         B       2023-02-03  135.0     Clothing  South
         B       2023-02-05  418.0     Clothing   East
         C       2023-01-14  371.0         Food   East
         C       2023-01-27   65.0  Electronics   West
         C       2023-02-02  488.0         Food  North
Kenya    A       2023-01-09    NaN  Electronics  North
         A       2023-01-15  356.0     Clothing   West
         A       2023-01-16  183.0         Food   West
         A       2023-01-24  315.0  Electronics   East
         A       2023-02-04  193.0  Electronics   West
         A       2023-02-16   70.0  Electronics   East
         B       2023-01-04  364.0     Clothing   West
         B       2023-01-12  377.0         Food  North
         B       2023-01-20  400.0         Food   West
         B       2023-02-15  163.0         Food   East
         C       2023-01-05  260.0  Electronics   West
         C       2023-01-07    NaN  Electronics   West
         C       2023-01-08    NaN         Food   East
         C       2023-01-17  474.0  Electronics   East
         C       2023-01-25  313.0     Clothing   East
         C       2023-02-06  134.0         Food  South
         C       2023-02-07  143.0     Clothing  South
         C       2023-02-09  238.0  Electronics  South
Tanzania A       2023-01-13   52.0         Food  South
         A       2023-02-17  312.0  Electronics   East
         A       2023-02-19   97.0  Electronics  North
         B       2023-01-21  389.0  Electronics  North
         B       2023-01-23  472.0  Electronics  South
         B       2023-01-30  143.0         Food  South
         B       2023-01-31  271.0  Electronics  South
         B       2023-02-10  430.0     Clothing   West
         B       2023-02-11  214.0     Clothing  North
         B       2023-02-12  257.0         Food   East
         B       2023-02-13  302.0         Food  North
         C       2023-01-02   56.0  Electronics  South
         C       2023-01-22  486.0  Electronics  North
         C       2023-01-28  310.0     Clothing  North
         C       2023-02-01  353.0  Electronics  South
Uganda   A       2023-01-18  477.0  Electronics  South
         A       2023-01-29  193.0         Food   East
         B       2023-01-19  133.0  Electronics   West
         C       2023-01-03   65.0     Clothing  South
         C       2023-01-10    NaN  Electronics  South
         C       2023-01-26  444.0  Electronics   West

In [ ]:
#Filter for a specific country(eg Kenya)

In [85]:
new_df.reset_index()

     Country Product       Date  Sales     Category Region
0        DRC       A 2023-01-01  446.0         Food  North
1   Tanzania       C 2023-01-02   56.0  Electronics  South
2     Uganda       C 2023-01-03   65.0     Clothing  South
3      Kenya       B 2023-01-04  364.0     Clothing   West
4      Kenya       C 2023-01-05  260.0  Electronics   West
5        DRC       A 2023-01-06    NaN  Electronics  South
6      Kenya       C 2023-01-07    NaN  Electronics   West
7      Kenya       C 2023-01-08    NaN         Food   East
8      Kenya       A 2023-01-09    NaN  Electronics  North
9     Uganda       C 2023-01-10    NaN  Electronics  South
10       DRC       A 2023-01-11    NaN     Clothing   West
11     Kenya       B 2023-01-12  377.0         Food  North
12  Tanzania       A 2023-01-13   52.0         Food  South
13       DRC       C 2023-01-14  371.0         Food   East
14     Kenya       A 2023-01-15  356.0     Clothing   West
15     Kenya       A 2023-01-16  183.0         Food   West
16     Kenya       C 2023-01-17  474.0  Electronics   East
17    Uganda       A 2023-01-18  477.0  Electronics  South
18    Uganda       B 2023-01-19  133.0  Electronics   West
19     Kenya       B 2023-01-20  400.0         Food   West
20  Tanzania       B 2023-01-21  389.0  Electronics  North
21  Tanzania       C 2023-01-22  486.0  Electronics  North
22  Tanzania       B 2023-01-23  472.0  Electronics  South
23     Kenya       A 2023-01-24  315.0  Electronics   East
24     Kenya       C 2023-01-25  313.0     Clothing   East
25    Uganda       C 2023-01-26  444.0  Electronics   West
26       DRC       C 2023-01-27   65.0  Electronics   West
27  Tanzania       C 2023-01-28  310.0     Clothing  North
28    Uganda       A 2023-01-29  193.0         Food   East
29  Tanzania       B 2023-01-30  143.0         Food  South
30  Tanzania       B 2023-01-31  271.0  Electronics  South
31  Tanzania       C 2023-02-01  353.0  Electronics  South
32       DRC       C 2023-02-02  488.0         Food  North
33       DRC       B 2023-02-03  135.0     Clothing  South
34     Kenya       A 2023-02-04  193.0  Electronics   West
35       DRC       B 2023-02-05  418.0     Clothing   East
36     Kenya       C 2023-02-06  134.0         Food  South
37     Kenya       C 2023-02-07  143.0     Clothing  South
38       DRC       A 2023-02-08  233.0     Clothing  North
39     Kenya       C 2023-02-09  238.0  Electronics  South
40  Tanzania       B 2023-02-10  430.0     Clothing   West
41  Tanzania       B 2023-02-11  214.0     Clothing  North
42  Tanzania       B 2023-02-12  257.0         Food   East
43  Tanzania       B 2023-02-13  302.0         Food  North
44       DRC       A 2023-02-14  124.0  Electronics  North
45     Kenya       B 2023-02-15  163.0         Food   East
46     Kenya       A 2023-02-16   70.0  Electronics   East
47  Tanzania       A 2023-02-17  312.0  Electronics   East
48       DRC       A 2023-02-18   65.0  Electronics  South
49  Tanzania       A 2023-02-19   97.0  Electronics  North